@charset "UTF-8";

/* 回答はここに書いてね */

/*  Q7-1 -----------------------------------------*/

.clearfix:after {
	content: "";
	display: block;
	clear: both;
}


.float-text {
	width: 225px;
	font-size: 16px;
	background-color: #fff;
	padding: 10px;
	float: left;
	box-sizing: border-box;
}

.float-text:first-child {
	margin-right: 50px;
}

/*  Q7-2  -------------------------------------------*/
.q7__box__inner {
	display: table;
}

.q7__box__table {
	display: table-cell;
	vertical-align: middle;
}

.q7__box__text {
	width: 205px;
	font-size: 16px;
	padding: 10px;
}

.q7__box__text:first-child {
	margin-right: 50px;
}

/*- Q7-3 ---------------------------------------------*/
.inlineblock-container {
	width: 100%;
	font-size: 0;
}

.inlineblock-text {
	font-size: 16px;
	background-color: #fff;
	width: 225px;
	padding: 10px;
	display: inline-block;
	vertical-align: middle;
	box-sizing: border-box;
}

.inlineblock-text:first-child {
	margin-right: 50px;
}

/* q7-4 -----------------------------------------------*/
.is-flex-box {
	display: flex;
	justify-content: space-around;
	align-items: flex-end;
}

.is-flex-text {
	font-size: 16px;
	background-color: #fff;
	padding: 10px;
	width: 205px;
}

/*- Q7-5  --------------------------------------------------*/


.is_fixed {
	display: inline-block;
	width: 300px;
	vertical-align: top;
}

.is_flexible {
	display: inline-block;
	width: 100%;
	padding-left: 400px;
	margin-left: -350px;
	box-sizing: border-box;
}

.Q7-5_text {
	font-size: 16px;
	background-color: #fff;
	padding: 10px;
}
/* 回答はここに書いてね */
