@charset "UTF-8";

/* 回答はここに書いてね */


.q5-box {
	width: 500px;
	height: 500px;
	background-color: #ECF1F2;
	position: relative;
	margin: 0 auto;
}
/* 回答はここに書いてね */

.color-box {
	width: 100px;
	height: 100px;
	text-align: center;
	line-height: 100px;
	font-size: 30px;
	position: absolute;
}

.one {
	background-color: #ffefd3;
	top: 40px;
	left: 200px;
	z-index: 1;
	font-weight: bold;
}


.two {
	background-color: #7084de;
	z-index: 2;
	top: 120px;
	left: 280px;
	font-weight: bold;
}

.three {
	background-color: #d0ecea;
	z-index: 3;
	top: 200px;
	left: 360px;
	font-weight: bold;
}

.four {
	background-color: #8b7a5e;
	z-index: 4;
	top: 280px;
	left: 280px;
	font-weight: bold;
}

.five {
	background-color: #9fd6d2;
	z-index: 5;
	top: 360px;
	left: 200px;
	font-weight: bold;
}

.six {
	background-color: #fffee4;
	z-index: 6;
	top: 280px;
	left: 120px;
	font-weight: bold;
}

.seven {
	background-color: #deae70;
	z-index: 7;
	top: 200px;
	left: 40px;
	font-weight: bold;
}

.eight {
	background-color: #de70cf;
	z-index: 8;
	top: 120px;
	left: 120px;
	font-weight: bold;
}

.eight:after {
	position: absolute;
	top: 0;
	right: 0;
	width: 20px;
	height: 20px;
	background-color: #ffefd3;
	content: "";
}

.night {
	background-color: #2b69a3;
	width: 100px;
	height: 100px;
	text-align: center;
	line-height: 100px;
	font-size: 30px;
	position: fixed;
	top: 10px;
	left: 10px;
	font-weight: bold;
}





